@charset "UTF-8";

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

* {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#messages {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 2147483647;

  * {
    pointer-events: all;
  }
}

@font-face {
  font-family: 'Hywh';
  src: url('./assets/hywh65w.ttf');
}

@theme {
  --font-sans: 'Hywh';
}

* {
  --p-color: var(--nui-primary-color);
}

html,
body,
#app {
  @apply overflow-hidden! bg-transparent!;
}

input::-webkit-search-cancel-button {
  display: none;
}